{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <title>Login</title>
    <style>
        .card img {
            margin-bottom:20px;
        }
    </style>
</head>
<body>
    <div class="card">
        <img src="/static/image/logo_transparent_cut.png" alt="Logo">
        {% if messages %}
            <ul style="color:red;">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form action="/accounts/login/" method="POST">
            {% csrf_token %}
            <input type="text" name="id" id='id' placeholder="ID" required>
            <input type="password" name="password" id='password' placeholder="Password" required>
            <div class="checkbox">
                <label><input type="checkbox" name="remember"> Remember me</label>
                <a href="/forgot-password">Forgot ID / Password</a>
            </div>
            <button type="submit" class="clickBtn orange">LOG IN</button>
            <button type="button" class="moreBtn white-orange">SIGN UP</button>
        </form>
        <p>with</p>
        <div class="social-login">
            <img src="/static/image/google-icon.png" alt="Google">
            <img src="/static/image/facebook-icon.png" alt="Facebook">
            <img src="/static/image/line-icon.png" alt="LINE">
            <img src="/static/image/apple-icon.png" alt="Apple">
        </div>
    </div>
</body>
</html>
