{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <title>Login</title>
    <style>
        .card {
            margin-bottom: 100px;
            /*
            background-color: #f9f9f9;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            */
        }
        .card img {
            width: 80%;
        }
        .card p {
            color: #555;
            margin: 0;
        }
        .card form {
            justify-content: flex-end;
            margin-top: 30px;
        }
        .card form button {
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="card">
        <img src="/static/image/logo_transparent.png" alt="Logo">
        <p>Please enter your new password below.</p>
        <form action="/login" method="POST">
            <input type="password" name="password" placeholder="New password" required>
            <input type="password" name="password" placeholder="Confirm password" required>
            <button type="button" class="moreBtn white-orange-active">Change</button>
        </form>
    </div>
</body>
</html>
